.fullrow{
    background: rgba(232, 43, 2, 0.27);
}

.loadingrow {
    background-color: rgb(230, 230, 230);
    animation-name: main-anim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}