.disposition {
    display: flex;
    flex-direction: column;
}

.visittime > span:nth-child(1) {
    color: #38679D;
}

.visittime {
    margin: .5rem 1rem;
    margin-bottom: .75rem;
    font-size: 20px;
}