.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: solid 3px #38679D;
    border-radius: 10px;
    margin: 2%;
    padding: 3%;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.conditions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 50%;
}

.conditions p {
    font-size: 15px;
    margin: 0;
    position: absolute;
}

.conditions img {
    margin: 0;
    padding: 0;
    height: 100px;
}

.temperature {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}

.temperature p {
    font-size: 22px;
}

span {
    color : #38679D;
    font-size: 14px;
    font-weight: bold;
}

.bottom {
    padding-top: 5%;
}

.bottom p {
    margin: 0;
    padding: 1%;
    width: 100%;
}
