
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 .5rem 0 0;
}

.open {
    background-color: #00C72C;
}

.close {
    background-color: red;
}

.loading {
    background-color: orange;
}


.description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}

.descriptiontext {
    font-size: 12px;
}