
.loadingrow {
    background-color: rgb(230, 230, 230);
    animation-name: main-anim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


@keyframes main-anim {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}

.mainicon {
    width:100%;
    background:linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.692), white) !important;
    height:100px;
    border-radius: 0 0 !important;
    position: absolute !important;
    bottom: 0;
    align-items: flex-end !important;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.mainicon > * {
width:100%;
}

.mainicondes {
    background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.container{
    position: relative;
}



.nobrdr {
    border-radius: 0 !important;
}